fastapi
langchain
langchain-google-vertexai
langchain-google-community
google-cloud-core
google-cloud-discoveryengine
google-cloud-documentai
google-cloud-secret-manager
firebase_admin
pydantic
pydantic-core
uvicorn
python-dotenv
psutil
google-cloud-bigquery
fpdf2
python-pptx
pandas
openpyxl
pyarrow
google-cloud-bigquery-storage
db-dtypes