fastapi
langchain
langchain-google-vertexai
langchain-google-community
google-cloud-core
google-cloud-discoveryengine
google-cloud-documentai
firebase_admin
pydantic
pydantic-core
uvicorn
python-dotenv